{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Administration</h1>
<div class="row">
    <div class="text-center col-md-3">
        <h2>Incident Status</h2>
        <table class="table table-sm" id="StatusTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th><button type="button" class="btn btn-primary btn-sm">New</button></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="text-center col-md-3">
        <h2>Incident Priorities</h2>
        <table class="table table-sm" id="IncidentPriorityTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th><button type="button" id="NewIncidentPriorityButton" class="btn btn-primary btn-sm" onclick="NewIncidentPriority()">New</button></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
	Agent Groups<br />
	Requester Departments<br />
	Categories<br />
	Requesters<br />
</div>
<script>
    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds){
                break;
            };
        };
    };
    function NewIncidentPriority() {
        /* Adds a new incidentpriority entry */
        document.getElementById("NewIncidentPriorityButton").style.display = "none"; // Hide New button
        var IncidentPriorityTable = document.getElementById('IncidentPriorityTable').getElementsByTagName('tbody')[0];
        var NewIncidentPriorityRow =IncidentPriorityTable.insertRow(IncidentPriorityTable.rows.length);
        NewIncidentPriorityRow.id = "IncidentPriorityRow";
        var NewIncidentPriorityNameTextboxCell = NewIncidentPriorityRow.insertCell(0);
        var NewIncidentPriorityNameTextbox = document.createElement("input");
        NewIncidentPriorityNameTextbox.type = "text";
        NewIncidentPriorityNameTextbox.id="NewPriorityNameTextbox"
        NewIncidentPriorityNameTextbox.className="form-control form-control-sm";
        NewIncidentPriorityNameTextboxCell.appendChild(NewIncidentPriorityNameTextbox);

        var NewIncidentPriorityApplyButtonCell = NewIncidentPriorityRow.insertCell(1);
        var NewIncidentPriorityApplyButton = document.createElement("input");
        NewIncidentPriorityApplyButton.type = "button";
        NewIncidentPriorityApplyButton.value="Apply"; 
        NewIncidentPriorityApplyButton.setAttribute("id", "NewPriorityApplyButton");
        NewIncidentPriorityApplyButton.className="btn btn-primary btn-sm";
        NewIncidentPriorityApplyButton.onclick = function() { 
            this.value = "Applying...";
            var NewIncidentPriorityRequest = new XMLHttpRequest();
            NewIncidentPriorityRequest.open('POST', '/api/priority/', true);
            NewIncidentPriorityRequest.setRequestHeader("Content-Type", "application/json");
            NewIncidentPriorityRequest.onload = function() {
                if (NewIncidentPriorityRequest.status >= 200) {
                    document.getElementById("NewIncidentPriorityButton").style.display = "block";
                    document.getElementById("IncidentPriorityRow").remove();
                    LoadIncidentPriorityTable();
                };
            };
            NewIncidentPriorityRequest.onerror = function() {
            };
            NewIncidentPriorityRequest.send(JSON.stringify({priority: {name: document.getElementById("IncidentPriorityRow").getElementsByTagName('td')[0].childNodes[0].value}}));
            
        };
        NewIncidentPriorityApplyButtonCell.appendChild(NewIncidentPriorityApplyButton);
    }

    function LoadIncidentPriorityTable() {
        /* Loads all of the IncidentPriorities */
        document.getElementById("NewIncidentPriorityButton").style.display = "block";
        var IncidentPriorityTable = document.getElementById('IncidentPriorityTable').getElementsByTagName('tbody')[0];
        IncidentPriorityTable.innerHTML = ""; // To ensure no entry is repeated
        var GETIncidentPriority = new XMLHttpRequest();
        GETIncidentPriority.open('GET', '/api/priority/', true);
        GETIncidentPriority.onload = function() {
            if (GETIncidentPriority.status >= 200) {
                var IncidentPriorityList = JSON.parse(GETIncidentPriority.responseText);
                var IncidentPriorityList = IncidentPriorityList['Data']
                for (var i = 0; i < IncidentPriorityList.length; i++) {
                    var NewIncidentPriorityRow =IncidentPriorityTable.insertRow(IncidentPriorityTable.rows.length);

                    var IncidentPriorityNameCell = NewIncidentPriorityRow.insertCell(0);
                    // Add ID of IncidentPriority to IncidentPriorityNameCell
                    IncidentPriorityNameCell.id = 'IncidentPriority_' + IncidentPriorityList[i].id

                    var IncidentPriorityNameData = document.createTextNode(IncidentPriorityList[i].name);
                    IncidentPriorityNameCell.appendChild(IncidentPriorityNameData);

                    var IncidentPriorityRemoveButtonRow = NewIncidentPriorityRow.insertCell(1);
                    var IncidentPriorityRemoveButton = document.createElement("input");
                    IncidentPriorityRemoveButton.type = "button";
                    IncidentPriorityRemoveButton.name = "add";
                    IncidentPriorityRemoveButton.value="Remove";
                    IncidentPriorityRemoveButton.id = 'RemoveButton_' + IncidentPriorityNameCell.id
                    IncidentPriorityRemoveButton.className="btn btn-danger btn-sm";
                    IncidentPriorityRemoveButton.onclick = function() {
                        var IncidentPriorityRemoveRequest = new XMLHttpRequest();
                        var url = '/api/priority/' + this.id.replace('RemoveButton_IncidentPriority_','')
                        IncidentPriorityRemoveRequest.open("DELETE", url, true);
                        IncidentPriorityRemoveRequest.onload = function () {
                            var users = JSON.parse(IncidentPriorityRemoveRequest.responseText);
                            if (IncidentPriorityRemoveRequest.readyState == 4 && IncidentPriorityRemoveRequest.status == "200") {
                                LoadIncidentPriorityTable();
                            } else {
                            }
                        }
                        IncidentPriorityRemoveRequest.send(null);
                    };
                    IncidentPriorityRemoveButtonRow.appendChild(IncidentPriorityRemoveButton);
                };
            };
        };
        GETIncidentPriority.onerror = function() {
        };
        GETIncidentPriority.send();
    };
    window.onload = function() {
        LoadIncidentPriorityTable();
    };
</script>
{% endblock %}