{% extends "base.html" %}

{% block title %}Administration{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Administration</h1>
<div class="row">
        <div class="text-center col-md-3">
                <h2>Incident Status</h2>
                <table class="table table-sm" id="IncidentStatusTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th><button type="button" id="NewIncidentStatusButton" class="btn btn-primary btn-sm" onclick="NewIncidentStatus()">New</button></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
    <div class="text-center col-md-3">
        <h2>Incident Priorities</h2>
        <table class="table table-sm" id="IncidentPriorityTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th><button type="button" id="NewIncidentPriorityButton" class="btn btn-primary btn-sm" onclick="NewIncidentPriority()">New</button></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="text-center col-md-3">
            <h2>Incident Categories</h2>
            <table class="table table-sm" id="IncidentCategoryTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th><button type="button" id="NewIncidentCategoryButton" class="btn btn-primary btn-sm" onclick="NewIncidentCategory()">New</button></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
</div>
<div class="container">
<h1>Requesters</h1>
    <pre class="pre-scrollable">Text in a pre element
    is displayed in a fixed-width
    font, and it preserveshttttttttttttttttttttt
    both      spaces and
  </pre>
  <h1>Agents</h1>
    <pre class="pre-scrollable">Text in a pre element
    is displayed in a fixed-width
    font, and it preserveshtttttttttttttttttt
    both      spaces and
  </pre>
  </div>
</div>
<script>
    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds){
                break;
            };
        };
    };
    function NewIncidentPriority() {
        /* Adds a new incidentpriority entry */
        document.getElementById("NewIncidentPriorityButton").style.display = "none"; // Hide New button
        var IncidentPriorityTable = document.getElementById('IncidentPriorityTable').getElementsByTagName('tbody')[0];
        var NewIncidentPriorityRow =IncidentPriorityTable.insertRow(IncidentPriorityTable.rows.length);
        NewIncidentPriorityRow.id = "IncidentPriorityRow";
        var NewIncidentPriorityNameTextboxCell = NewIncidentPriorityRow.insertCell(0);
        var NewIncidentPriorityNameTextbox = document.createElement("input");
        NewIncidentPriorityNameTextbox.type = "text";
        NewIncidentPriorityNameTextbox.id="NewPriorityNameTextbox"
        NewIncidentPriorityNameTextbox.className="form-control form-control-sm";
        NewIncidentPriorityNameTextboxCell.appendChild(NewIncidentPriorityNameTextbox);

        var NewIncidentPriorityApplyButtonCell = NewIncidentPriorityRow.insertCell(1);
        var NewIncidentPriorityApplyButton = document.createElement("input");
        NewIncidentPriorityApplyButton.type = "button";
        NewIncidentPriorityApplyButton.value="Apply"; 
        NewIncidentPriorityApplyButton.setAttribute("id", "NewPriorityApplyButton");
        NewIncidentPriorityApplyButton.className="btn btn-primary btn-sm";
        NewIncidentPriorityApplyButton.onclick = function() { 
            this.value = "Applying...";
            var NewIncidentPriorityRequest = new XMLHttpRequest();
            NewIncidentPriorityRequest.open('POST', '/api/priority/', true);
            NewIncidentPriorityRequest.setRequestHeader("Content-Type", "application/json");
            NewIncidentPriorityRequest.onload = function() {
                if (NewIncidentPriorityRequest.status >= 200) {
                    document.getElementById("NewIncidentPriorityButton").style.display = "block";
                    document.getElementById("IncidentPriorityRow").remove();
                    LoadIncidentPriorityTable();
                };
            };
            NewIncidentPriorityRequest.onerror = function() {
            };
            NewIncidentPriorityRequest.send(JSON.stringify({priority: {name: document.getElementById("IncidentPriorityRow").getElementsByTagName('td')[0].childNodes[0].value}}));
            
        };
        NewIncidentPriorityApplyButtonCell.appendChild(NewIncidentPriorityApplyButton);
    }

    function LoadIncidentPriorityTable() {
        /* Loads all of the IncidentPriorities */
        document.getElementById("NewIncidentPriorityButton").style.display = "block";
        var IncidentPriorityTable = document.getElementById('IncidentPriorityTable').getElementsByTagName('tbody')[0];
        IncidentPriorityTable.innerHTML = ""; // To ensure no entry is repeated
        var GETIncidentPriority = new XMLHttpRequest();
        GETIncidentPriority.open('GET', '/api/priority/', true);
        GETIncidentPriority.onload = function() {
            if (GETIncidentPriority.status >= 200) {
                var IncidentPriorityList = JSON.parse(GETIncidentPriority.responseText);
                var IncidentPriorityList = IncidentPriorityList['Data']
                for (var i = 0; i < IncidentPriorityList.length; i++) {
                    var NewIncidentPriorityRow =IncidentPriorityTable.insertRow(IncidentPriorityTable.rows.length);

                    var IncidentPriorityNameCell = NewIncidentPriorityRow.insertCell(0);
                    // Add ID of IncidentPriority to IncidentPriorityNameCell
                    IncidentPriorityNameCell.id = 'IncidentPriority_' + IncidentPriorityList[i].id

                    var IncidentPriorityNameData = document.createTextNode(IncidentPriorityList[i].name);
                    IncidentPriorityNameCell.appendChild(IncidentPriorityNameData);

                    var IncidentPriorityRemoveButtonRow = NewIncidentPriorityRow.insertCell(1);
                    var IncidentPriorityRemoveButton = document.createElement("input");
                    IncidentPriorityRemoveButton.type = "button";
                    IncidentPriorityRemoveButton.name = "add";
                    IncidentPriorityRemoveButton.value="Remove";
                    IncidentPriorityRemoveButton.id = 'RemoveButton_' + IncidentPriorityNameCell.id
                    IncidentPriorityRemoveButton.className="btn btn-danger btn-sm";
                    IncidentPriorityRemoveButton.onclick = function() {
                        var IncidentPriorityRemoveRequest = new XMLHttpRequest();
                        var url = '/api/priority/' + this.id.replace('RemoveButton_IncidentPriority_','')
                        IncidentPriorityRemoveRequest.open("DELETE", url, true);
                        IncidentPriorityRemoveRequest.onload = function () {
                            var users = JSON.parse(IncidentPriorityRemoveRequest.responseText);
                            if (IncidentPriorityRemoveRequest.readyState == 4 && IncidentPriorityRemoveRequest.status == "200") {
                                LoadIncidentPriorityTable();
                            } else {
                            }
                        }
                        IncidentPriorityRemoveRequest.send(null);
                    };
                    IncidentPriorityRemoveButtonRow.appendChild(IncidentPriorityRemoveButton);
                };
            };
        };
        GETIncidentPriority.onerror = function() {
        };
        GETIncidentPriority.send();
    };
    function NewIncidentStatus() {
        /* Adds a new incidentpriority entry */
        document.getElementById("NewIncidentStatusButton").style.display = "none"; // Hide New button
        var IncidentStatusTable = document.getElementById('IncidentStatusTable').getElementsByTagName('tbody')[0];
        var NewIncidentStatusRow =IncidentStatusTable.insertRow(IncidentStatusTable.rows.length);
        NewIncidentStatusRow.id = "IncidentStatusRow";
        var NewIncidentStatusNameTextboxCell = NewIncidentStatusRow.insertCell(0);
        var NewIncidentStatusNameTextbox = document.createElement("input");
        NewIncidentStatusNameTextbox.type = "text";
        NewIncidentStatusNameTextbox.id="NewStatusNameTextbox"
        NewIncidentStatusNameTextbox.className="form-control form-control-sm";
        NewIncidentStatusNameTextboxCell.appendChild(NewIncidentStatusNameTextbox);

        var NewIncidentStatusApplyButtonCell = NewIncidentStatusRow.insertCell(1);
        var NewIncidentStatusApplyButton = document.createElement("input");
        NewIncidentStatusApplyButton.type = "button";
        NewIncidentStatusApplyButton.value="Apply"; 
        NewIncidentStatusApplyButton.setAttribute("id", "NewStatusApplyButton");
        NewIncidentStatusApplyButton.className="btn btn-primary btn-sm";
        NewIncidentStatusApplyButton.onclick = function() { 
            this.value = "Applying...";
            var NewIncidentStatusRequest = new XMLHttpRequest();
            NewIncidentStatusRequest.open('POST', '/api/status/', true);
            NewIncidentStatusRequest.setRequestHeader("Content-Type", "application/json");
            NewIncidentStatusRequest.onload = function() {
                if (NewIncidentStatusRequest.status >= 200) {
                    document.getElementById("NewIncidentStatusButton").style.display = "block";
                    document.getElementById("IncidentStatusRow").remove();
                    LoadIncidentStatusTable();
                };
            };
            NewIncidentStatusRequest.onerror = function() {
            };
            NewIncidentStatusRequest.send(JSON.stringify({status: {name: document.getElementById("IncidentStatusRow").getElementsByTagName('td')[0].childNodes[0].value}}));
            
        };
        NewIncidentStatusApplyButtonCell.appendChild(NewIncidentStatusApplyButton);
    }

    function LoadIncidentStatusTable() {
        /* Loads all of the IncidentPriorities */
        document.getElementById("NewIncidentStatusButton").style.display = "block";
        var IncidentStatusTable = document.getElementById('IncidentStatusTable').getElementsByTagName('tbody')[0];
        IncidentStatusTable.innerHTML = ""; // To ensure no entry is repeated
        var GETIncidentStatus = new XMLHttpRequest();
        GETIncidentStatus.open('GET', '/api/status/', true);
        GETIncidentStatus.onload = function() {
            if (GETIncidentStatus.status >= 200) {
                var IncidentStatusList = JSON.parse(GETIncidentStatus.responseText);
                var IncidentStatusList = IncidentStatusList['Data']
                for (var i = 0; i < IncidentStatusList.length; i++) {
                    var NewIncidentStatusRow =IncidentStatusTable.insertRow(IncidentStatusTable.rows.length);

                    var IncidentStatusNameCell = NewIncidentStatusRow.insertCell(0);
                    // Add ID of IncidentPriority to IncidentStatusNameCell
                    IncidentStatusNameCell.id = 'IncidentStatus_' + IncidentStatusList[i].id

                    var IncidentStatusNameData = document.createTextNode(IncidentStatusList[i].name);
                    IncidentStatusNameCell.appendChild(IncidentStatusNameData);

                    var IncidentStatusRemoveButtonRow = NewIncidentStatusRow.insertCell(1);
                    var IncidentStatusRemoveButton = document.createElement("input");
                    IncidentStatusRemoveButton.type = "button";
                    IncidentStatusRemoveButton.name = "add";
                    IncidentStatusRemoveButton.value="Remove";
                    IncidentStatusRemoveButton.id = 'RemoveButton_' + IncidentStatusNameCell.id
                    IncidentStatusRemoveButton.className="btn btn-danger btn-sm";
                    IncidentStatusRemoveButton.onclick = function() {
                        var IncidentStatusRemoveRequest = new XMLHttpRequest();
                        var url = '/api/status/' + this.id.replace('RemoveButton_IncidentStatus_','')
                        IncidentStatusRemoveRequest.open("DELETE", url, true);
                        IncidentStatusRemoveRequest.onload = function () {
                            var users = JSON.parse(IncidentStatusRemoveRequest.responseText);
                            if (IncidentStatusRemoveRequest.readyState == 4 && IncidentStatusRemoveRequest.status == "200") {
                                LoadIncidentStatusTable();
                            } else {
                            }
                        }
                        IncidentStatusRemoveRequest.send(null);
                    };
                    IncidentStatusRemoveButtonRow.appendChild(IncidentStatusRemoveButton);
                };
            };
        };
        GETIncidentStatus.onerror = function() {
        };
        GETIncidentStatus.send();
    };
    window.onload = function() {
        LoadIncidentPriorityTable();
        LoadIncidentStatusTable();
    };
    /* ======================================= */
    function NewIncidentCategory() {
        /* Adds a new NewIncidentCategory entry */
        document.getElementById("NewIncidentCategoryButton").style.display = "none"; // Hide New button
        var IncidentCategoryTable = document.getElementById('IncidentCategoryTable').getElementsByTagName('tbody')[0];
        var NewIncidentCategoryRow =IncidentCategoryTable.insertRow(IncidentCategoryTable.rows.length);
        NewIncidentCategoryRow.id = "IncidentCategoryRow";
        var NewIncidentCategoryNameTextboxCell = NewIncidentCategoryRow.insertCell(0);
        var NewIncidentCategoryNameTextbox = document.createElement("input");
        NewIncidentCategoryNameTextbox.type = "text";
        NewIncidentCategoryNameTextbox.id="NewCategoryNameTextbox"
        NewIncidentCategoryNameTextbox.className="form-control form-control-sm";
        NewIncidentCategoryNameTextboxCell.appendChild(NewIncidentCategoryNameTextbox);

        var NewIncidentCategoryApplyButtonCell = NewIncidentCategoryRow.insertCell(1);
        var NewIncidentCategoryApplyButton = document.createElement("input");
        NewIncidentCategoryApplyButton.type = "button";
        NewIncidentCategoryApplyButton.value="Apply"; 
        NewIncidentCategoryApplyButton.setAttribute("id", "NewCategoryApplyButton");
        NewIncidentCategoryApplyButton.className="btn btn-primary btn-sm";
        NewIncidentCategoryApplyButton.onclick = function() { 
            this.value = "Applying...";
            var NewIncidentCategoryRequest = new XMLHttpRequest();
            NewIncidentCategoryRequest.open('POST', '/api/category/', true);
            NewIncidentCategoryRequest.setRequestHeader("Content-Type", "application/json");
            NewIncidentCategoryRequest.onload = function() {
                if (NewIncidentCategoryRequest.status >= 200) {
                    document.getElementById("NewIncidentCategoryButton").style.display = "block";
                    document.getElementById("IncidentCategoryRow").remove();
                    LoadIncidentCategoryTable();
                };
            };
            NewIncidentCategoryRequest.onerror = function() {
            };
            NewIncidentCategoryRequest.send(JSON.stringify({category: {name: document.getElementById("IncidentCategoryRow").getElementsByTagName('td')[0].childNodes[0].value}}));
            
        };
        NewIncidentCategoryApplyButtonCell.appendChild(NewIncidentCategoryApplyButton);
    }

    function LoadIncidentCategoryTable() {
        /* Loads all of the IncidentPriorities */
        document.getElementById("NewIncidentCategoryButton").style.display = "block";
        var IncidentCategoryTable = document.getElementById('IncidentCategoryTable').getElementsByTagName('tbody')[0];
        IncidentCategoryTable.innerHTML = ""; // To ensure no entry is repeated
        var GETIncidentCategory = new XMLHttpRequest();
        GETIncidentCategory.open('GET', '/api/category/', true);
        GETIncidentCategory.onload = function() {
            if (GETIncidentCategory.status >= 200) {
                var IncidentCategoryList = JSON.parse(GETIncidentCategory.responseText);
                var IncidentCategoryList = IncidentCategoryList['Data']
                for (var i = 0; i < IncidentCategoryList.length; i++) {
                    var NewIncidentCategoryRow =IncidentCategoryTable.insertRow(IncidentCategoryTable.rows.length);

                    var IncidentCategoryNameCell = NewIncidentCategoryRow.insertCell(0);
                    // Add ID of IncidentPriority to IncidentCategoryNameCell
                    IncidentCategoryNameCell.id = 'IncidentCategory_' + IncidentCategoryList[i].id

                    var IncidentCategoryNameData = document.createTextNode(IncidentCategoryList[i].name);
                    IncidentCategoryNameCell.appendChild(IncidentCategoryNameData);

                    var IncidentCategoryRemoveButtonRow = NewIncidentCategoryRow.insertCell(1);
                    var IncidentCategoryRemoveButton = document.createElement("input");
                    IncidentCategoryRemoveButton.type = "button";
                    IncidentCategoryRemoveButton.name = "add";
                    IncidentCategoryRemoveButton.value="Remove";
                    IncidentCategoryRemoveButton.id = 'RemoveButton_' + IncidentCategoryNameCell.id
                    IncidentCategoryRemoveButton.className="btn btn-danger btn-sm";
                    IncidentCategoryRemoveButton.onclick = function() {
                        var IncidentCategoryRemoveRequest = new XMLHttpRequest();
                        var url = '/api/category/' + this.id.replace('RemoveButton_IncidentCategory_','')
                        IncidentCategoryRemoveRequest.open("DELETE", url, true);
                        IncidentCategoryRemoveRequest.onload = function () {
                            var users = JSON.parse(IncidentCategoryRemoveRequest.responseText);
                            if (IncidentCategoryRemoveRequest.readyState == 4 && IncidentCategoryRemoveRequest.status == "200") {
                                LoadIncidentCategoryTable();
                            } else {
                            }
                        }
                        IncidentCategoryRemoveRequest.send(null);
                    };
                    IncidentCategoryRemoveButtonRow.appendChild(IncidentCategoryRemoveButton);
                };
            };
        };
        GETIncidentCategory.onerror = function() {
        };
        GETIncidentCategory.send();
    };
    /* ==================================*/
    window.onload = function() {
        LoadIncidentPriorityTable();
        LoadIncidentStatusTable();
        LoadIncidentCategoryTable();
    };
</script>
{% endblock %}