{% extends "base.html" %}

{% block title %}Incidents{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav active">
        <li class="nav-item active">
            <a class="nav-link " href="#">Close</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reply</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Forward</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Add Note</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Delete</a>
        </li>
    </ul>
    </nav> 
<h1>Incident #{{ incident.id }} - {{ incident.subject }}</h1>

<h1></h1>
{{ incident.requester }} reported 10 hours ago ({{ incident.created }})
<br />
{{ incident.description }}

<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav active">
        <li class="nav-item active">
            <a class="nav-link " href="#">Reply</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Forward</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Add Note</a>
        </li>
    </ul>
    </nav> 
<script>
</script>
{% endblock %}